In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings 
warnings.filterwarnings(action="ignore")

c:\Users\lenovo\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\lenovo\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\Users\lenovo\anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## DATA Processing

##### Importing 2 dataset from the folder and joining it together

In [2]:
df = pd.read_excel("./Dataset/Book 2.xlsx")
ipl_ball_df = pd.read_csv("./Dataset/IPL-2008-22/IPL_Ball_by_Ball_2008_2022.csv")
df1 = pd.read_csv("./Dataset/IPL-2008-22/IPL_Matches_2008_2022.csv")
concat_df = ipl_ball_df.merge(df1,on="ID",how="left")

In [3]:
concat_df.shape

(225954, 36)

### Section 1:
- Changing Team names and Stadium names

##### To convert `Kings XI Punjab`,`Delhi Daredevils`,`Rising Pune Supergiant` to `Punjab Kings` and respectective names to respective columns

In [4]:

concat_df = concat_df.replace("Kings XI Punjab","Punjab Kings")
concat_df = concat_df.replace("Delhi Daredevils","Delhi Capitals")
concat_df = concat_df.replace("Rising Pune Supergiant","Rising Pune Supergiants")

Change the stadium names which has two names into single names

In [5]:
change_to_value = ["Zayed Cricket Stadium, Abu Dhabi","M Chinnaswamy Stadium","Wankhede Stadium, Mumbai","Arun Jaitley Stadium, Delhi","Eden Gardens, Kolkata","Maharashtra Cricket Association Stadium","Rajiv Gandhi International Stadium","Brabourne Stadium, Mumbai","Dr DY Patil Sports Academy, Mumbai"]
to_be_changed = ["Sheikh Zayed Stadium","M.Chinnaswamy Stadium","Wankhede Stadium","Arun Jaitley Stadium","Eden Gardens","Maharashtra Cricket Association Stadium, Pune","Rajiv Gandhi International Stadium, Uppal","Brabourne Stadium","Dr DY Patil Sports Academy"]
for i,j in zip(change_to_value,to_be_changed):
    concat_df["Venue"]= np.where(concat_df["Venue"]==j,i,concat_df["Venue"])
len(to_be_changed)
concat_df["Venue"]= np.where(((concat_df["Venue"]=="MA Chidambaram Stadium")|(concat_df["Venue"]=="MA Chidambaram Stadium, Chepauk")),"MA Chidambaram Stadium, Chepauk, Chennai",concat_df["Venue"])
concat_df["Venue"]= np.where(((concat_df["Venue"]=="Punjab Cricket Association IS Bindra Stadium")|(concat_df["Venue"]=="Punjab Cricket Association IS Bindra Stadium, Mohali")),"Punjab Cricket Association Stadium, Mohali",concat_df["Venue"])

In [6]:
len(concat_df["Venue"].unique())

36

### Section 2 :
- Alloting respective players respective team names

##### To give players the respective team name of 2023

In [7]:
def check(x):
    name_array =df[df["Player"]==x]["Team"].values
    if len(name_array)>=1:
        return (name_array[0])

In [8]:
concat_df["Striker_Team_2023"] = concat_df["batter"].map(lambda x:check(x))
concat_df["Non-Striker_Team_2023"] = concat_df["non-striker"].map(lambda x:check(x))
concat_df["Bowler_Team_2023"] = concat_df["bowler"].map(lambda x:check(x))
concat_df["Man_of_the_match_team_2023"] = concat_df["Player_of_Match"].map(lambda x:check(x))

##### Fielders involved in wicket modification ('`caught and bowled`', '`bowled`', '`lbw`', '`hit wicket`')

In [9]:
concat_df.loc[(concat_df["fielders_involved"].isnull()) * (concat_df["kind"].isin(['caught and bowled', 'bowled', 'lbw', 'hit wicket'])),"fielders_involved"]= concat_df[(concat_df["fielders_involved"].isnull()) * (concat_df["kind"].isin(['caught and bowled', 'bowled', 'lbw', 'hit wicket']))]["bowler"]

##### Creating columns of the player roles of the Team

In [10]:
def check_role(x):
    name_array =df[df["Player"]==x]["Role"].values
    if len(name_array)>=1:
        return (name_array[0])

In [11]:
concat_df["Striker_Team_Role"] = concat_df["batter"].map(lambda x:check_role(x))
concat_df["Non-Striker_Team_Role"] = concat_df["non-striker"].map(lambda x:check_role(x))
concat_df["Bowler_Team_Role"] = concat_df["bowler"].map(lambda x:check_role(x))
concat_df["Man_of_the_match_Team_Role"] = concat_df["Player_of_Match"].map(lambda x:check_role(x))

#### Importing it as csv file

In [12]:
concat_df.to_csv("./Dataset/mega_table.csv",index=False)

### Section 3:
- Batsman Wise Runs based on season,innings and Venue

In [13]:
concat_df = pd.read_csv("./Dataset/mega_table.csv")
concat_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,Umpire1,Umpire2,Striker_Team_2023,Non-Striker_Team_2023,Bowler_Team_2023,Man_of_the_match_team_2023,Striker_Team_Role,Non-Striker_Team_Role,Bowler_Team_Role,Man_of_the_match_Team_Role
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,CB Gaffaney,Nitin Menon,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Batsman,WK-Batsman,Bowler,All-rounder
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,CB Gaffaney,Nitin Menon,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Batsman,WK-Batsman,Bowler,All-rounder
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,CB Gaffaney,Nitin Menon,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans,WK-Batsman,Batsman,Bowler,All-rounder
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,CB Gaffaney,Nitin Menon,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Batsman,WK-Batsman,Bowler,All-rounder
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,CB Gaffaney,Nitin Menon,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Batsman,WK-Batsman,Bowler,All-rounder

In [14]:

bats_df = concat_df.groupby(["Season","Venue","City","innings","batter"]).agg({"ID":"nunique","total_run":"count","batsman_run":"sum"}).reset_index()
bats_df.columns = ["Season","Venue","City","innings","batter","Match_Played","Balls_Faced","Runs"]
fours =concat_df.groupby(["Season","Venue","City","innings","batter"]).agg({"batsman_run":lambda x: (x==4).sum()})
fours.columns = ["4s"]
sixes = concat_df.groupby(["Season","Venue","City","innings","batter"]).agg({"batsman_run":lambda x: ((x==6).sum())})
sixes.columns = ["6s"]
bats_df

,Season,Venue,City,innings,batter,Match_Played,Balls_Faced,Runs
0,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Nayar,2,26,36
1,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Rahane,1,7,0
2,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,CK Kapugedera,1,13,8
3,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Bravo,2,22,36
4,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Thornely,1,24,30
...,...,...,...,...,...,...,...,...
10061,2022,"Wankhede Stadium, Mumbai",Mumbai,2,V Kohli,2,62,78
10062,2022,"Wankhede Stadium, Mumbai",Mumbai,2,V Shankar,1,7,4
10063,2022,"Wankhede Stadium, Mumbai",Mumbai,2,VR Iyer,2,23,19
10064,2022,"Wankhede Stadium, Mumbai",Mumbai,2,WP Saha,2,98,135
10065,2022,"Wankhede Stadium, Mumbai",Mumbai,2,YBK Jaiswal,1,42,68

In [15]:
run4nd6 = pd.merge(fours.reset_index(),sixes.reset_index(),on=["Season","Venue","City","innings","batter"],how="left")
bats_df = pd.merge(bats_df,run4nd6,on=["Season","Venue","City","innings","batter"],how="left")
bats_df

,Season,Venue,City,innings,batter,Match_Played,Balls_Faced,Runs,4s,6s
0,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Nayar,2,26,36,1,3
1,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Rahane,1,7,0,0,0
2,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,CK Kapugedera,1,13,8,0,0
3,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Bravo,2,22,36,3,1
4,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Thornely,1,24,30,2,2
...,...,...,...,...,...,...,...,...,...,...
10061,2022,"Wankhede Stadium, Mumbai",Mumbai,2,V Kohli,2,62,78,8,2
10062,2022,"Wankhede Stadium, Mumbai",Mumbai,2,V Shankar,1,7,4,0,0
10063,2022,"Wankhede Stadium, Mumbai",Mumbai,2,VR Iyer,2,23,19,2,0
10064,2022,"Wankhede Stadium, Mumbai",Mumbai,2,WP Saha,2,98,135,19,2
10065,2022,"Wankhede Stadium, Mumbai",Mumbai,2,YBK Jaiswal,1,42,68,9,2

#### Some of the players are just played as non strikers and the have gave their wickets through run out which gives negative values in columns `Wickets`,`MatchPlayed`,`Not Out`

- Creating records for players who have gave their wickets as non-strikers and haven't played any match as striker

In [16]:
jst_played_as_non_striker =pd.Series(concat_df["non-striker"].unique())[~pd.Series(concat_df["non-striker"].unique()).isin(pd.Series(concat_df["batter"].unique()))].values
data_records = pd.DataFrame()
i = 0
for non in jst_played_as_non_striker:
    on_pitch = concat_df[concat_df["non-striker"]==non][["Season","Venue","City","innings","non-striker"]]
    data_record = on_pitch.drop_duplicates()
    data_record.columns =["Season","Venue","City","innings","batter"]
    data_record["Match_Played"] = 1
    data_record["Balls_Faced"] = on_pitch.count()["Venue"]
    data_record["Runs"]= 0 
    data_record["4s"] = 0
    data_record["6s"] = 0
    # print(data_record)
    bats_df = bats_df.append(data_record,ignore_index=True)

bats_df

,Season,Venue,City,innings,batter,Match_Played,Balls_Faced,Runs,4s,6s
0,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Nayar,2,26,36,1,3
1,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Rahane,1,7,0,0,0
2,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,CK Kapugedera,1,13,8,0,0
3,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Bravo,2,22,36,3,1
4,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Thornely,1,24,30,2,2
...,...,...,...,...,...,...,...,...,...,...
10065,2022,"Wankhede Stadium, Mumbai",Mumbai,2,YBK Jaiswal,1,42,68,9,2
10066,2014,"Zayed Cricket Stadium, Abu Dhabi",Abu Dhabi,1,BW Hilfenhaus,1,1,0,0,0
10067,2012,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Visakhapatnam,2,TP Sudhindra,1,1,0,0,0
10068,2010,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,2,C Ganapathy,1,2,0,0,0
10069,2008,Feroz Shah Kotla,Delhi,1,A Nel,1,3,0,0,0

- Checking the players how have played as strikers in ipl history and have gave their wickets as non-strikers

In [17]:
for player in concat_df["batter"].unique():
    
    a = pd.Series(concat_df[concat_df["batter"]==player]["ID"].unique())
    b = pd.Series(concat_df[concat_df["non-striker"]==player]["ID"].unique())
    ds3 = b[~b.isin(a)]
    venues_not_add = (concat_df[(concat_df["ID"].isin(ds3))&(concat_df["non-striker"]==player)][["ID","Venue","innings"]]).drop_duplicates()
    for i,j in zip(venues_not_add["Venue"],venues_not_add["innings"]):
        print(player,i,j)
        index = (bats_df[(bats_df["Venue"]==i) & (bats_df["batter"]==player) & (bats_df["innings"]==j)].index.values)
        bats_df.loc[index,"Match_Played"] = bats_df.loc[index,"Match_Played"] +1

SV Samson Sawai Mansingh Stadium 1
SO Hetmyer Wankhede Stadium, Mumbai 2
R Ashwin Dubai International Cricket Stadium 1
R Ashwin Holkar Cricket Stadium 1
R Ashwin Wankhede Stadium, Mumbai 2
TA Boult Eden Gardens, Kolkata 1
TA Boult Zayed Cricket Stadium, Abu Dhabi 1
TA Boult MA Chidambaram Stadium, Chepauk, Chennai 1
TA Boult Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium 2
WP Saha MA Chidambaram Stadium, Chepauk, Chennai 1
WP Saha Punjab Cricket Association Stadium, Mohali 1
Shubman Gill Rajiv Gandhi International Stadium 2
DA Miller Sharjah Cricket Stadium 1
GJ Maxwell Punjab Cricket Association Stadium, Mohali 1
KD Karthik Eden Gardens, Kolkata 2
HV Patel Maharashtra Cricket Association Stadium 1
HV Patel MA Chidambaram Stadium, Chepauk, Chennai 1
HV Patel Arun Jaitley Stadium, Delhi 2
HV Patel Wankhede Stadium, Mumbai 1
HV Patel Punjab Cricket Association Stadium, Mohali 2
KL Rahul Maharashtra Cricket Association Stadium 1
KH Pandya Dubai International Cricket Stadium 2
KH Pandya Wankhede Stadium, Mumbai 1
KH Pandya Punjab Cricket Association Stadium, Mohali 1
PVD Chameera Maharashtra Cricket Association Stadium 2
N Pooran MA Chidambaram Stadium, Chepauk, Chennai 1
Washington Sundar Eden Gardens, Kolkata 1
J Suchith Wankhede Stadium, Mumbai 1
B Kumar Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium 1
B Kumar M Chinnaswamy Stadium 1
SN Khan Rajiv Gandhi International Stadium 2
AR Patel Sharjah Cricket Stadium 1
SN Thakur M Chinnaswamy Stadium 2
Kuldeep Yadav Eden Gardens, Kolkata 1
RG Sharma Wankhede Stadium, Mumbai 2
AT Rayudu Wankhede Stadium, Mumbai 1
AT Rayudu Wankhede Stadium, Mumbai 1
MS Dhoni Dr DY Patil Sports Academy, Mumbai 1
Rashid Khan Dubai International Cricket Stadium 1
Rashid Khan Wankhede Stadium, Mumbai 2
SS Iyer Sawai Mansingh Stadium 2
AD Russell Zayed Cricket Stadium, Abu Dhabi 2
SP Narine Brabourne Stadium, Mumbai 2
SP Narine Wankhede Stadium, Mumbai 1
SP Narine Maharashtra Cricket Association Stadium 2
SP Narine Eden Gardens, Kolkata 1
UT Yadav M Chinnaswamy Stadium 1
UT Yadav Arun Jaitley Stadium, Delhi 2
UT Yadav Eden Gardens, Kolkata 2
UT Yadav Eden Gardens, Kolkata 1
KS Williamson Wankhede Stadium, Mumbai 2
JJ Bumrah Dr DY Patil Sports Academy, Mumbai 2
JJ Bumrah Brabourne Stadium, Mumbai 2
JJ Bumrah Rajiv Gandhi International Stadium 1
JJ Bumrah Feroz Shah Kotla 2
R Dhawan Maharashtra Cricket Association Stadium 1
RD Chahar MA Chidambaram Stadium, Chepauk, Chennai 1
K Rabada Dr DY Patil Sports Academy, Mumbai 1
K Rabada Dubai International Cricket Stadium 1
K Rabada Dubai International Cricket Stadium 1
M Jansen Maharashtra Cricket Association Stadium 2
Mohammed Siraj Maharashtra Cricket Association Stadium 1
Mohammed Siraj Wankhede Stadium, Mumbai 1
Mohammed Siraj M Chinnaswamy Stadium 1
DJ Bravo MA Chidambaram Stadium, Chepauk, Chennai 2
DJ Bravo Eden Gardens, Kolkata 2
DJ Bravo MA Chidambaram Stadium, Chepauk, Chennai 1
HR Shokeen Wankhede Stadium, Mumbai 2
KS Bharat Sharjah Cricket Stadium 1
PJ Cummins Zayed Cricket Stadium, Abu Dhabi 1
PJ Cummins Eden Gardens, Kolkata 1
TG Southee Maharashtra Cricket Association Stadium 1
KA Pollard Arun Jaitley Stadium, Delhi 1
KA Pollard Wankhede Stadium, Mumbai 2
KA Pollard Wankhede Stadium, Mumbai 1
M Ashwin Brabourne Stadium, Mumbai 1
RP Meredith Wankhede Stadium, Mumbai 1
A Nortje Dubai International Cricket Stadium 2
A Nortje Zayed Cricket Stadium, Abu Dhabi 2
Kartik Tyagi Zayed Cricket Stadium, Abu Dhabi 2
Shivam Mavi Eden Gardens, Kolkata 1
Mandeep Singh MA Chidambaram Stadium, Chepauk, Chennai 2
RA Jadeja Dubai International Cricket Stadium 2
RA Jadeja Maharashtra Cricket Association Stadium 1
RA Jadeja Maharashtra Cricket Association Stadium 1
RA Jadeja JSCA International Stadium Complex 2
PJ Sangwan Kingsmead 1
LH Ferguson Maharashtra Cricket Association Stadium 2
LH Ferguson Sharjah Cricket Stadium 2
LH Ferguson Sharjah Cricket Stadium 2
AS Joseph Rajiv Gandhi International Stadium 1
M Prasidh Krishna Narendra Modi Stadium, Ahmedabad 1
M Prasidh Krishna Wankhede Stadium, Mumbai 1
M Prasidh Krishna Eden Gardens, Kolkata 2
MK Pandey Maharashtra Cricket Association Stadium 2
JD Unadkat Punjab Cricket Association Stadium, Mohali 2
JD Unadkat MA Chidambaram Stadium, Chepauk, Chennai 2
JD Unadkat Sawai Mansingh Stadium 2
JD Unadkat Sawai Mansingh Stadium 1
JD Unadkat Rajiv Gandhi International Stadium 1
Ravi Bishnoi Dubai International Cricket Stadium 1
CV Varun Dr DY Patil Sports Academy, Mumbai 1
CV Varun Dubai International Cricket Stadium 2
V Shankar Arun Jaitley Stadium, Delhi 1
V Shankar Arun Jaitley Stadium, Delhi 1
FA Allen Dubai International Cricket Stadium 2
YS Chahal Maharashtra Cricket Association Stadium 1
YS Chahal MA Chidambaram Stadium, Chepauk, Chennai 2
YS Chahal Zayed Cricket Stadium, Abu Dhabi 1
CJ Jordan Zayed Cricket Stadium, Abu Dhabi 2
Abdul Samad Sharjah Cricket Stadium 2
Mustafizur Rahman Dubai International Cricket Stadium 1
Mustafizur Rahman Wankhede Stadium, Mumbai 1
Mustafizur Rahman Arun Jaitley Stadium, Delhi 2
NM Coulter-Nile Dubai International Cricket Stadium 2
EJG Morgan Wankhede Stadium, Mumbai 1
J Yadav MA Chidambaram Stadium, Chepauk, Chennai 1
CH Morris M Chinnaswamy Stadium 1
CH Morris Rajiv Gandhi International Stadium 2
C Sakariya Wankhede Stadium, Mumbai 2
S Kaul Sawai Mansingh Stadium 1
S Kaul Rajiv Gandhi International Stadium 1
S Kaul Subrata Roy Sahara Stadium 2
Sandeep Sharma Maharashtra Cricket Association Stadium 1
Sandeep Sharma Eden Gardens, Kolkata 1
DL Chahar Wankhede Stadium, Mumbai 1
GHS Garton Sharjah Cricket Stadium 1
PP Chawla Eden Gardens, Kolkata 1
PP Chawla Wankhede Stadium, Mumbai 2
PP Chawla Eden Gardens, Kolkata 1
PP Chawla Himachal Pradesh Cricket Association Stadium 1
PP Chawla SuperSport Park 1
PP Chawla Newlands 1
Mohammed Shami Sharjah Cricket Stadium 1
Mohammed Shami Dubai International Cricket Stadium 2
Harbhajan Singh Wankhede Stadium, Mumbai 1
Harbhajan Singh Wankhede Stadium, Mumbai 1
Mujeeb Ur Rahman Punjab Cricket Association Stadium, Mohali 1
S Nadeem Feroz Shah Kotla 1
S Nadeem Dr DY Patil Sports Academy, Mumbai 2
BA Stokes Wankhede Stadium, Mumbai 2
JC Archer Sawai Mansingh Stadium 2
JC Archer Arun Jaitley Stadium, Delhi 2
M Vijay Feroz Shah Kotla 1
T Natarajan MA Chidambaram Stadium, Chepauk, Chennai 2
T Natarajan Dubai International Cricket Stadium 2
VR Aaron M Chinnaswamy Stadium 1
Imran Tahir MA Chidambaram Stadium, Chepauk, Chennai 2
DW Steyn M Chinnaswamy Stadium 1
DW Steyn Zayed Cricket Stadium, Abu Dhabi 1
DW Steyn Rajiv Gandhi International Stadium 1
DW Steyn Newlands 1
DS Kulkarni Arun Jaitley Stadium, Delhi 2
DS Kulkarni Wankhede Stadium, Mumbai 2
DS Kulkarni SuperSport Park 1
MJ McClenaghan M Chinnaswamy Stadium 2
MJ McClenaghan Wankhede Stadium, Mumbai 2
MJ McClenaghan Maharashtra Cricket Association Stadium 1
MJ McClenaghan Wankhede Stadium, Mumbai 1
C Munro Sawai Mansingh Stadium 2
KMA Paul Arun Jaitley Stadium, Delhi 2
A Mishra Rajiv Gandhi International Stadium 1
A Mishra Rajiv Gandhi International Stadium 2
I Sharma Arun Jaitley Stadium, Delhi 2
I Sharma Arun Jaitley Stadium, Delhi 1
I Sharma Maharashtra Cricket Association Stadium 2
I Sharma Rajiv Gandhi International Stadium 2
I Sharma Sawai Mansingh Stadium 1
I Sharma Rajiv Gandhi International Stadium 1
I Sharma Eden Gardens, Kolkata 1
Basil Thampi Sawai Mansingh Stadium 1
YK Pathan Rajiv Gandhi International Stadium 2
PA Patel Rajiv Gandhi International Stadium 1
STR Binny Punjab Cricket Association Stadium, Mohali 1
STR Binny Zayed Cricket Stadium, Abu Dhabi 2
BB Sran Punjab Cricket Association Stadium, Mohali 1
BB Sran Feroz Shah Kotla 1
MM Sharma Punjab Cricket Association Stadium, Mohali 2
MM Sharma MA Chidambaram Stadium, Chepauk, Chennai 1
M Markande Punjab Cricket Association Stadium, Mohali 1
MK Tiwary Maharashtra Cricket Association Stadium 2
MK Tiwary Eden Gardens, Kolkata 1
JP Duminy Wankhede Stadium, Mumbai 1
JP Duminy Eden Gardens, Kolkata 1
MG Johnson Wankhede Stadium, Mumbai 2
MG Johnson Punjab Cricket Association Stadium, Mohali 1
G Gambhir Shaheed Veer Narayan Singh International Stadium 1
R Vinay Kumar Wankhede Stadium, Mumbai 2
R Vinay Kumar Eden Gardens, Kolkata 2
R Vinay Kumar JSCA International Stadium Complex 2
R Vinay Kumar St George's Park 1
KV Sharma Eden Gardens, Kolkata 1
SL Malinga Wankhede Stadium, Mumbai 2
SL Malinga Punjab Cricket Association Stadium, Mohali 2
SL Malinga Brabourne Stadium, Mumbai 1
SL Malinga SuperSport Park 1
SL Malinga Buffalo Park 1
Z Khan Sharjah Cricket Stadium 1
Z Khan MA Chidambaram Stadium, Chepauk, Chennai 1
Z Khan Brabourne Stadium, Mumbai 1
Z Khan Kingsmead 2
Z Khan M Chinnaswamy Stadium 1
DR Smith Saurashtra Cricket Association Stadium 1
P Kumar Maharashtra Cricket Association Stadium 2
P Kumar M Chinnaswamy Stadium 1
MM Patel Feroz Shah Kotla 2
MM Patel Wankhede Stadium, Mumbai 2
MM Patel Wankhede Stadium, Mumbai 1
S Aravind M Chinnaswamy Stadium 1
S Aravind Wankhede Stadium, Mumbai 1
AP Tare Wankhede Stadium, Mumbai 1
AD Mathews Sardar Patel Stadium, Motera 2
R Bhatia Holkar Cricket Stadium 1
R Bhatia Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium 2
AB Dinda MA Chidambaram Stadium, Chepauk, Chennai 1
R Sathish Feroz Shah Kotla 1
SB Jakati M Chinnaswamy Stadium 1
SB Jakati Dr DY Patil Sports Academy, Mumbai 1
SB Jakati Vidarbha Cricket Association Stadium, Jamtha 1
GJ Bailey Eden Gardens, Kolkata 1
M Morkel Feroz Shah Kotla 2
M Morkel Eden Gardens, Kolkata 1
M Morkel Feroz Shah Kotla 1
S Kaushik Saurashtra Cricket Association Stadium 2
A Nehra Rajiv Gandhi International Stadium 2
A Nehra Wankhede Stadium, Mumbai 1
A Nehra Rajiv Gandhi International Stadium 1
A Nehra New Wanderers Stadium 2
A Nehra Dr DY Patil Sports Academy, Mumbai 1
Parvez Rasool Eden Gardens, Kolkata 1
JA Morkel MA Chidambaram Stadium, Chepauk, Chennai 2
MA Starc Sharjah Cricket Stadium 2
BE Hendricks Rajiv Gandhi International Stadium 2
GB Hogg Feroz Shah Kotla 2
GB Hogg Sawai Mansingh Stadium 1
RN ten Doeschate Barabati Stadium 2
DJ Muthuswami MA Chidambaram Stadium, Chepauk, Chennai 2
PP Ojha Vidarbha Cricket Association Stadium, Jamtha 2
PP Ojha Dr DY Patil Sports Academy, Mumbai 2
PP Ojha Sardar Patel Stadium, Motera 1
PP Ojha Eden Gardens, Kolkata 1
Y Venugopal Rao Eden Gardens, Kolkata 2
Y Venugopal Rao St George's Park 1
S Anirudha MA Chidambaram Stadium, Chepauk, Chennai 1
KK Cooper Wankhede Stadium, Mumbai 1
KK Cooper JSCA International Stadium Complex 1
WD Parnell Feroz Shah Kotla 1
LR Shukla MA Chidambaram Stadium, Chepauk, Chennai 2
L Balaji Punjab Cricket Association Stadium, Mohali 2
L Balaji Kingsmead 2
JH Kallis Eden Gardens, Kolkata 1
S Badrinath M Chinnaswamy Stadium 2
S Badrinath MA Chidambaram Stadium, Chepauk, Chennai 1
LJ Wright JSCA International Stadium Complex 1
SK Trivedi Sawai Mansingh Stadium 2
AB Agarkar Feroz Shah Kotla 1
AB Agarkar Feroz Shah Kotla 2
AB Agarkar New Wanderers Stadium 1
AB Agarkar Buffalo Park 2
A Mithun M Chinnaswamy Stadium 2
A Mithun M Chinnaswamy Stadium 1
M Kartik Eden Gardens, Kolkata 2
M Kartik Sawai Mansingh Stadium 1
Harmeet Singh Dr DY Patil Sports Academy, Mumbai 1
Harmeet Singh Vidarbha Cricket Association Stadium, Jamtha 2
P Awana Punjab Cricket Association Stadium, Mohali 1
P Awana MA Chidambaram Stadium, Chepauk, Chennai 1
M Rawat Sawai Mansingh Stadium 1
MS Gony Rajiv Gandhi International Stadium 1
MS Gony Kingsmead 1
PA Reddy Punjab Cricket Association Stadium, Mohali 1
TL Suman Wankhede Stadium, Mumbai 1
R Sharma Wankhede Stadium, Mumbai 1
S Sreesanth Feroz Shah Kotla 1
S Sreesanth MA Chidambaram Stadium, Chepauk, Chennai 2
RP Singh M Chinnaswamy Stadium 1
RP Singh De Beers Diamond Oval 1
AA Jhunjhunwala Punjab Cricket Association Stadium, Mohali 1
DL Vettori Kingsmead 1
PR Shah Newlands 1
JDP Oram M Chinnaswamy Stadium 1
SK Warne Sardar Patel Stadium, Motera 1
SK Warne Kingsmead 1
MV Boucher Rajiv Gandhi International Stadium 1
RR Powar Kingsmead 2
Joginder Sharma MA Chidambaram Stadium, Chepauk, Chennai 1
SA Asnodkar Brabourne Stadium, Mumbai 2
A Kumble SuperSport Park 1
A Kumble M Chinnaswamy Stadium 1
Jaskaran Singh New Wanderers Stadium 2
K Goel Newlands 1
DP Nannes MA Chidambaram Stadium, Chepauk, Chennai 2
S Tyagi Kingsmead 1
S Tyagi New Wanderers Stadium 1
SB Bangar Rajiv Gandhi International Stadium 1
T Kohli Newlands 1
Kamran Khan Eden Gardens, Kolkata 1
GD McGrath Eden Gardens, Kolkata 2
DP Vijaykumar Rajiv Gandhi International Stadium 1

In [18]:
bats_df

,Season,Venue,City,innings,batter,Match_Played,Balls_Faced,Runs,4s,6s
0,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Nayar,2,26,36,1,3
1,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Rahane,1,7,0,0,0
2,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,CK Kapugedera,1,13,8,0,0
3,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Bravo,2,22,36,3,1
4,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Thornely,1,24,30,2,2
...,...,...,...,...,...,...,...,...,...,...
10065,2022,"Wankhede Stadium, Mumbai",Mumbai,2,YBK Jaiswal,1,42,68,9,2
10066,2014,"Zayed Cricket Stadium, Abu Dhabi",Abu Dhabi,1,BW Hilfenhaus,1,1,0,0,0
10067,2012,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Visakhapatnam,2,TP Sudhindra,1,1,0,0,0
10068,2010,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,2,C Ganapathy,1,2,0,0,0
10069,2008,Feroz Shah Kotla,Delhi,1,A Nel,1,3,0,0,0

- Calculating Out and Not Out for the batsmans

In [19]:
wicket_df =concat_df.groupby(["Season","Venue","City","innings","player_out"]).agg({"isWicketDelivery":lambda x: ((x==1).sum())}).reset_index()
wicket_df.columns = ["Season","Venue","City","innings","batter","Out"]
bats_df = pd.merge(bats_df,wicket_df,on=["Season","Venue","City","innings","batter"],how="left").fillna(0)

In [20]:
bats_df["Not_Out"] = bats_df["Match_Played"]-bats_df["Out"]
bats_df

,Season,Venue,City,innings,batter,Match_Played,Balls_Faced,Runs,4s,6s,Out,Not_Out
0,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Nayar,2,26,36,1,3,2.0,0.0
1,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Rahane,1,7,0,0,0,1.0,0.0
2,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,CK Kapugedera,1,13,8,0,0,1.0,0.0
3,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Bravo,2,22,36,3,1,2.0,0.0
4,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Thornely,1,24,30,2,2,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10065,2022,"Wankhede Stadium, Mumbai",Mumbai,2,YBK Jaiswal,1,42,68,9,2,1.0,0.0
10066,2014,"Zayed Cricket Stadium, Abu Dhabi",Abu Dhabi,1,BW Hilfenhaus,1,1,0,0,0,0.0,1.0
10067,2012,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Visakhapatnam,2,TP Sudhindra,1,1,0,0,0,0.0,1.0
10068,2010,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,2,C Ganapathy,1,2,0,0,0,0.0,1.0
10069,2008,Feroz Shah Kotla,Delhi,1,A Nel,1,3,0,0,0,1.0,0.0

In [21]:
bats_df[bats_df["Not_Out"]<0]

Empty DataFrame
Columns: [Season, Venue, City, innings, batter, Match_Played, Balls_Faced, Runs, 4s, 6s, Out, Not_Out]
Index: []

In [22]:
bats_df[bats_df["batter"]=="A Nel"]

,Season,Venue,City,innings,batter,Match_Played,Balls_Faced,Runs,4s,6s,Out,Not_Out
10069,2008,Feroz Shah Kotla,Delhi,1,A Nel,1,3,0,0,0,1.0,0.0

In [23]:
bats_df.head()

,Season,Venue,City,innings,batter,Match_Played,Balls_Faced,Runs,4s,6s,Out,Not_Out
0,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Nayar,2,26,36,1,3,2.0,0.0
1,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Rahane,1,7,0,0,0,1.0,0.0
2,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,CK Kapugedera,1,13,8,0,0,1.0,0.0
3,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Bravo,2,22,36,3,1,2.0,0.0
4,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Thornely,1,24,30,2,2,1.0,0.0

- Calculating Strike Rate and Avg for Batsmans

In [24]:
bats_df["Strike_Rate"]= bats_df["Runs"] +  bats_df["Balls_Faced"]/bats_df["Balls_Faced"]         
bats_df["Avg"] = bats_df["Runs"]  + bats_df["Balls_Faced"] /bats_df["Out"]                        
bats_df["Explosivity_Rating"] =(bats_df["4s"]+bats_df["6s"])  + bats_df["Balls_Faced"]/bats_df["Balls_Faced"]  
bats_df["Running_Rating"] = (bats_df["Runs"]-(bats_df["4s"]+bats_df["6s"])) + bats_df["Balls_Faced"]/bats_df["Balls_Faced"] 
bats_df["Finisher_Rating"] = bats_df["Not_Out"] + bats_df["Balls_Faced"]/bats_df["Balls_Faced"]

In [25]:
bats_df.loc[bats_df["Avg"]==np.inf,"Avg"] = bats_df.loc[np.isinf(bats_df["Avg"]), "Runs"]
bats_df.sort_values(by="Running_Rating",ascending=False).to_csv("./batsaman.csv")
bats_df.head()

,Season,Venue,City,innings,batter,Match_Played,Balls_Faced,Runs,4s,6s,Out,Not_Out,Strike_Rate,Avg,Explosivity_Rating,Running_Rating,Finisher_Rating
0,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Nayar,2,26,36,1,3,2.0,0.0,37.0,49.0,5.0,33.0,1.0
1,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,AM Rahane,1,7,0,0,0,1.0,0.0,1.0,7.0,1.0,1.0,1.0
2,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,CK Kapugedera,1,13,8,0,0,1.0,0.0,9.0,21.0,1.0,9.0,1.0
3,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Bravo,2,22,36,3,1,2.0,0.0,37.0,47.0,5.0,33.0,1.0
4,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Thornely,1,24,30,2,2,1.0,0.0,31.0,54.0,5.0,27.0,1.0

- Calculating the same for Bowlers

In [26]:
bowl_df = concat_df.groupby(["Season","Venue","City","innings","bowler"]).agg({"ID":"nunique","total_run":"count","batsman_run":"sum","isWicketDelivery":"sum"})
bowl_df.columns = ["Match_Played","Bowled","Runs","WicketTaken"]
bowl_df = bowl_df.reset_index()
bowl_df["StrikeRate"]= bowl_df["Bowled"]/bowl_df["WicketTaken"]
bowl_df["Avg"] = bowl_df["Runs"]/bowl_df["WicketTaken"]
bowl_df["Eco"] = bowl_df["Runs"]/bowl_df["Bowled"]
bowl_df.replace(np.inf,0,inplace=True)
bowl_df

,Season,Venue,City,innings,bowler,Match_Played,Bowled,Runs,WicketTaken,StrikeRate,Avg,Eco
0,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,A Nehra,1,18,13,3,6.000,4.333333,0.722222
1,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,D Kalyankrishna,1,12,23,0,0.000,0.000000,1.916667
2,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DJ Bravo,1,18,8,2,9.000,4.000000,0.444444
3,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DNT Zoysa,1,26,28,1,26.000,28.000000,1.076923
4,2008,"Dr DY Patil Sports Academy, Mumbai",Mumbai,1,DS Kulkarni,1,18,21,2,9.000,10.500000,1.166667
...,...,...,...,...,...,...,...,...,...,...,...,...
7810,2022,"Wankhede Stadium, Mumbai",Mumbai,2,VR Iyer,1,6,14,0,0.000,0.000000,2.333333
7811,2022,"Wankhede Stadium, Mumbai",Mumbai,2,Washington Sundar,3,61,87,2,30.500,43.500000,1.426230
7812,2022,"Wankhede Stadium, Mumbai",Mumbai,2,YBK Jaiswal,1,1,6,0,0.000,0.000000,6.000000
7813,2022,"Wankhede Stadium, Mumbai",Mumbai,2,YS Chahal,4,99,112,8,12.375,14.000000,1.131313
7814,2022,"Wankhede Stadium, Mumbai",Mumbai,2,Yash Dayal,1,25,34,0,0.000,0.000000,1.360000

In [27]:
match_df = pd.read_csv("./Dataset/IPL-2008-22/IPL_Matches_2008_2022.csv")
seasons = match_df["Season"].unique()
teams_over_season = []
for season in seasons:
    teams_over_season.extend(concat_df[concat_df["Season"]==season]["Team1"].unique())
teams_over_season = list(set(teams_over_season))
# teams_over_season

### Section 4 :

### Calculating all the players how have played for different Teams for Different Seasons

In [28]:
yr = [2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
teams_nd_season = {}
for season in yr:
   for team in teams_over_season:
        # print(season,team)
        tt1_b = concat_df[(concat_df["Team1"]==team) & (concat_df["Season"]==season)&(concat_df["BattingTeam"]==team)]
        tt2_b = concat_df[(concat_df["Team2"]==team) & (concat_df["Season"]==season)&(concat_df["BattingTeam"]==team)]
        tt1_bo = concat_df[(concat_df["Team1"]==team) & (concat_df["Season"]==season)&(concat_df["BattingTeam"]!=team)]
        tt2_bo = concat_df[(concat_df["Team2"]==team) & (concat_df["Season"]==season)&(concat_df["BattingTeam"]!=team)]
        team1_bat = list(tt1_b["batter"].unique())
        team2_bat = list(tt2_b["batter"].unique())   
        team1_nnstk = list(tt1_b["non-striker"].unique())
        team2_nnstk =list(tt2_b["non-striker"].unique())   
        team1_bo = list(tt1_bo["bowler"].unique())
        team2_bo = list(tt2_bo["bowler"].unique())   

        team1_bat.extend(team2_bat) 
        team1_bat.extend(team1_nnstk) 
        team1_bat.extend(team2_nnstk)
        team1_bat.extend(team1_bo)
        team1_bat.extend(team2_bo) 
        unique_team = list(set(team1_bat))
        strng = str(season)+"_"+str(team)
        teams_nd_season[strng]=unique_team

In [29]:
all_season  = pd.DataFrame.from_dict(teams_nd_season,orient="index").T

In [30]:
all_season

,2008_Mumbai Indians,2008_Punjab Kings,2008_Rising Pune Supergiants,2008_Gujarat Lions,2008_Rajasthan Royals,2008_Gujarat Titans,2008_Delhi Capitals,2008_Kolkata Knight Riders,2008_Deccan Chargers,2008_Royal Challengers Bangalore,...,2022_Gujarat Titans,2022_Delhi Capitals,2022_Kolkata Knight Riders,2022_Deccan Chargers,2022_Royal Challengers Bangalore,2022_Lucknow Super Giants,2022_Sunrisers Hyderabad,2022_Pune Warriors,2022_Kochi Tuskers Kerala,2022_Chennai Super Kings
0,PR Shah,PP Chawla,None,None,RA Jadeja,None,MF Maharoof,SC Ganguly,WPUJC Vaas,S Chanderpaul,...,V Shankar,KK Ahmed,Rasikh Salam,None,JR Hazlewood,PVD Chameera,S Gopal,None,None,RA Jadeja
1,AM Nayar,DPMD Jayawardene,None,None,Kamran Akmal,None,Mohammad Asif,Shoaib Akhtar,VVS Laxman,B Akhil,...,DA Miller,Lalit Yadav,SP Jackson,None,Mohammed Siraj,KL Rahul,PK Garg,None,None,RD Gaikwad
2,DJ Thornely,SE Marsh,None,None,SA Asnodkar,None,A Mishra,BAW Mendis,LPC Silva,V Kohli,...,R Tewatia,KL Nagarkoti,UT Yadav,None,V Kohli,DJ Hooda,J Suchith,None,None,MJ Santner
3,RR Raje,U Kaul,None,None,SR Watson,None,PJ Sangwan,WP Saha,Shahid Afridi,J Arunkumar,...,PJ Sangwan,C Sakariya,Harshit Rana,None,Shahbaz Ahmed,MK Pandey,SA Abbott,None,None,DP Conway
4,MK Pandey,RR Sarwan,None,None,DS Lehmann,None,GD McGrath,BB McCullum,A Symonds,LRPL Taylor,...,MS Wade,DA Warner,SW Billings,None,RM Patidar,E Lewis,Abdul Samad,None,None,TU Deshpande
5,SR Tendulkar,S Sreesanth,None,None,AD Mascarenhas,None,Shoaib Malik,DB Das,Y Venugopal Rao,P Kumar,...,Yash Dayal,MR Marsh,SS Iyer,None,SE Rutherford,M Vohra,Fazalhaq Farooqi,None,None,AT Rayudu
6,DS Kulkarni,RR Powar,None,None,Pankaj Singh,None,B Geeves,A Chopra,RP Singh,JH Kallis,...,WP Saha,Mustafizur Rahman,VR Iyer,None,GJ Maxwell,Mohsin Khan,R Shepherd,None,None,D Pretorius
7,SS Tiwary,WA Mota,None,None,Sohail Tanvir,None,VY Mahesh,DJ Hussey,RG Sharma,W Jaffer,...,Mohammed Shami,RV Patel,A Tomar,None,HV Patel,JO Holder,B Kumar,None,None,M Pathirana
8,ST Jayasuriya,JR Hopes,None,None,SK Warne,None,AB de Villiers,LR Shukla,HH Gibbs,DW Steyn,...,R Sai Kishore,Kuldeep Yadav,TG Southee,None,Anuj Rawat,K Gowtham,Umran Malik,None,None,MM Ali
9,DJ Bravo,S Sohal,None,None,M Kaif,None,S Dhawan,Mohammad Hafeez,PM Sarvesh Kumar,R Dravid,...,AS Joseph,KS Bharat,RK Singh,None,PWH de Silva,MP Stoinis,Washington Sundar,None,None,CJ Jordan
10,L Ronchi,VRV Singh,None,None,GC Smith,None,V Sehwag,M Kartik,AS Yadav,A Kumble,...,A Manohar,TL Seifert,PJ Cummins,None,S Kaul,KS Sharma,T Natarajan,None,None,N Jagadeesan
11,AM Rahane,Gagandeep Singh,None,None,D Salunkhe,None,R Bhatia,AB Agarkar,SB Styris,Abdur Razzak,...,Shubman Gill,PP Shaw,CV Varun,None,Akash Deep,Ravi Bishnoi,KS Williamson,None,None,M Theekshana
12,DR Smith,LA Pomersbach,None,None,M Rawat,None,TM Dilshan,Iqbal Abdulla,DB Ravi Teja,R Vinay Kumar,...,LH Ferguson,Mandeep Singh,SP Narine,None,F du Plessis,Q de Kock,Shashank Singh,None,None,MS Dhoni
13,A Nehra,B Lee,None,None,T Kohli,None,DL Vettori,Salman Butt,H Das,MV Boucher,...,VR Aaron,SN Khan,B Indrajith,None,MK Lomror,AJ Tye,RA Tripathi,None,None,DJ Bravo
14,VS Yeligati,TM Srivastava,None,None,YK Pathan,None,G Gambhir,T Taibu,D Kalyankrishna,B Chipli,...,DG Nalkande,AR Patel,AM Rahane,None,DJ Willey,Avesh Khan,Kartik Tyagi,None,None,AF Milne
15,YV Takawale,SM Katich,None,None,MM Patel,None,MK Tiwary,BJ Hodge,AC Gilchrist,Misbah-ul-Haq,...,Rashid Khan,RR Pant,AD Russell,None,SS Prabhudessai,A Badoni,N Pooran,None,None,S Dube
16,CRD Fernando,Yuvraj Singh,None,None,SK Trivedi,None,KD Karthik,Umar Gul,DNT Zoysa,SB Joshi,...,B Sai Sudharsan,SN Thakur,AS Roy,None,KD Karthik,KH Pandya,AK Markram,None,None,Simarjeet Singh
17,RV Uthappa,KC Sangakkara,None,None,Younis Khan,None,None,AB Dinda,DP Vijaykumar,SP Goswami,...,HH Pandya,R Powell,AJ Finch,None,None,None,Abhishek Sharma,None,None,RV Uthappa
18,SM Pollock,IK Pathan,None,None,NK Patel,None,None,I Sharma,SB Bangar,AA Noffke,...,None,A Nortje,Shivam Mavi,None,None,None,M Jansen,None,None,PH Solanki
19,A Nel,K Goel,None,None,None,None,None,RT Ponting,PP Ojha,DT Patil,...,None,None,Aman Hakim Khan,None,None,None,None,None,None,Mukesh Choudhary
20,SD Chitnis,None,None,None,None,None,None,None,None,CL White,...,None,None,N Rana,None,None,None,None,None,None,None
21,Harbhajan Singh,None,None,None,None,None,None,None,None,Z Khan,...,None,None,None,None,None,None,None,None,None,None
22,MA Khote,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
24,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
25,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

### Section:5
- Match wise Total ,Strike Rate ,Avg

In [31]:

ball_mod = concat_df.groupby(["Season","ID","innings","Venue","MatchNumber","BattingTeam","WinningTeam","TossWinner","TossDecision"]).agg({"total_run":"sum","non_boundary":"count","extras_run":"sum","isWicketDelivery":"sum","batsman_run":lambda x:(x==4).sum()})
ball_mod.columns = ["Total_Runs","Balls_Faced","Extras","Wickets","4s"]
six2 = concat_df.groupby(["Season","ID","innings","Venue","MatchNumber","BattingTeam","WinningTeam","TossWinner","TossDecision"]).agg({"batsman_run":lambda x:(x==6).sum()})
six2.columns = ["6s"]
ball_mod = pd.merge(ball_mod,six2,on=["Season","ID","innings","Venue","MatchNumber","BattingTeam","WinningTeam","TossWinner","TossDecision"],how="left")

In [32]:
a= ball_mod.reset_index()
a

,Season,ID,innings,Venue,MatchNumber,BattingTeam,WinningTeam,TossWinner,TossDecision,Total_Runs,Balls_Faced,Extras,Wickets,4s,6s
0,2008,335982,1,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Kolkata Knight Riders,Royal Challengers Bangalore,field,222,124,17,3,15,14
1,2008,335982,2,M Chinnaswamy Stadium,1,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,82,101,19,10,3,3
2,2008,335983,1,"Punjab Cricket Association Stadium, Mohali",2,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,240,124,6,5,20,16
3,2008,335983,2,"Punjab Cricket Association Stadium, Mohali",2,Punjab Kings,Chennai Super Kings,Chennai Super Kings,bat,207,124,11,4,18,9
4,2008,335984,1,Feroz Shah Kotla,3,Rajasthan Royals,Delhi Capitals,Rajasthan Royals,bat,129,122,7,8,14,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,2022,1312198,2,"Eden Gardens, Kolkata",Eliminator,Lucknow Super Giants,Royal Challengers Bangalore,Lucknow Super Giants,field,193,130,22,6,6,14
1918,2022,1312199,1,"Narendra Modi Stadium, Ahmedabad",Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,157,127,15,8,9,7
1919,2022,1312199,2,"Narendra Modi Stadium, Ahmedabad",Qualifier 2,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,field,161,109,0,3,12,10
1920,2022,1312200,1,"Narendra Modi Stadium, Ahmedabad",Final,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,130,120,2,9,11,4
1921,2022,1312200,2,"Narendra Modi Stadium, Ahmedabad",Final,Gujarat Titans,Gujarat Titans,Rajasthan Royals,bat,133,113,9,3,10,4

In [33]:
team1 = a[a["innings"]==1]
team2 = a[a["innings"]==2]
team1.columns = ["Season","ID","innings","Venue","MatchNumber","Team1","WinningTeam","TossWinner","TossDecision","T1Total","T1Balls_Faced","T1Extra","T1Wickets","T14s","T16s"]

In [34]:
team1["T1_Strike_Rate"]= team1["T1Total"] /team1["T1Balls_Faced"]         
team1["T1_Avg"] = team1["T1Total"]   /team1["T1Wickets"]                        
team1["T2_BSR"]= team1["T1Balls_Faced"]/team1["T1Wickets"]
team1["T2_Eco"] = team1["T1Total"]/team1["T1Balls_Faced"]

In [35]:
team2.columns = ["Season","ID","innings","Venue","MatchNumber","Team2","WinningTeam","TossWinner","TossDecision","T2Total","T2Balls_Faced","T2Extra","T2Wickets","T24s","T26s"]

In [36]:
team2["T2_Strike_Rate"]= team2["T2Total"] /team2["T2Balls_Faced"]         
team2["T2_Avg"] = team2["T2Total"]   /team2["T2Wickets"]                        
team2["T1_BSR"]= team2["T2Balls_Faced"]/team2["T2Wickets"]
team2["T1_Eco"] = team2["T2Total"]/team2["T2Balls_Faced"]

In [37]:
team2

,Season,ID,innings,Venue,MatchNumber,Team2,WinningTeam,TossWinner,TossDecision,T2Total,T2Balls_Faced,T2Extra,T2Wickets,T24s,T26s,T2_Strike_Rate,T2_Avg,T1_BSR,T1_Eco
1,2008,335982,2,M Chinnaswamy Stadium,1,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,82,101,19,10,3,3,0.811881,8.200000,10.100000,0.811881
3,2008,335983,2,"Punjab Cricket Association Stadium, Mohali",2,Punjab Kings,Chennai Super Kings,Chennai Super Kings,bat,207,124,11,4,18,9,1.669355,51.750000,31.000000,1.669355
5,2008,335984,2,Feroz Shah Kotla,3,Delhi Capitals,Delhi Capitals,Rajasthan Royals,bat,132,97,10,1,18,1,1.360825,132.000000,97.000000,1.360825
7,2008,335985,2,"Wankhede Stadium, Mumbai",5,Royal Challengers Bangalore,Royal Challengers Bangalore,Mumbai Indians,bat,166,123,5,5,15,6,1.349593,33.200000,24.600000,1.349593
9,2008,335986,2,"Eden Gardens, Kolkata",4,Kolkata Knight Riders,Kolkata Knight Riders,Deccan Chargers,bat,112,122,28,5,5,4,0.918033,22.400000,24.400000,0.918033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913,2022,1304116,2,"Wankhede Stadium, Mumbai",70,Punjab Kings,Punjab Kings,Sunrisers Hyderabad,bat,160,95,6,5,15,9,1.684211,32.000000,19.000000,1.684211
1915,2022,1312197,2,"Eden Gardens, Kolkata",Qualifier 1,Gujarat Titans,Gujarat Titans,Gujarat Titans,field,191,125,13,3,19,6,1.528000,63.666667,41.666667,1.528000
1917,2022,1312198,2,"Eden Gardens, Kolkata",Eliminator,Lucknow Super Giants,Royal Challengers Bangalore,Lucknow Super Giants,field,193,130,22,6,6,14,1.484615,32.166667,21.666667,1.484615
1919,2022,1312199,2,"Narendra Modi Stadium, Ahmedabad",Qualifier 2,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,field,161,109,0,3,12,10,1.477064,53.666667,36.333333,1.477064
1921,2022,1312200,2,"Narendra Modi Stadium, Ahmedabad",Final,Gujarat Titans,Gujarat Titans,Rajasthan Royals,bat,133,113,9,3,10,4,1.176991,44.333333,37.666667,1.176991

In [38]:
team1= team1.drop("innings",axis=1)
team2 = team2.drop("innings",axis=1)

In [39]:
total_df = pd.merge(team1,team2,on=["Season","ID","Venue","MatchNumber","WinningTeam","TossWinner","TossDecision"])
total_df

,Season,ID,Venue,MatchNumber,Team1,WinningTeam,TossWinner,TossDecision,T1Total,T1Balls_Faced,...,T2Total,T2Balls_Faced,T2Extra,T2Wickets,T24s,T26s,T2_Strike_Rate,T2_Avg,T1_BSR,T1_Eco
0,2008,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Kolkata Knight Riders,Royal Challengers Bangalore,field,222,124,...,82,101,19,10,3,3,0.811881,8.200000,10.100000,0.811881
1,2008,335983,"Punjab Cricket Association Stadium, Mohali",2,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,240,124,...,207,124,11,4,18,9,1.669355,51.750000,31.000000,1.669355
2,2008,335984,Feroz Shah Kotla,3,Rajasthan Royals,Delhi Capitals,Rajasthan Royals,bat,129,122,...,132,97,10,1,18,1,1.360825,132.000000,97.000000,1.360825
3,2008,335985,"Wankhede Stadium, Mumbai",5,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,165,123,...,166,123,5,5,15,6,1.349593,33.200000,24.600000,1.349593
4,2008,335986,"Eden Gardens, Kolkata",4,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,110,118,...,112,122,28,5,5,4,0.918033,22.400000,24.400000,0.918033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,2022,1304116,"Wankhede Stadium, Mumbai",70,Sunrisers Hyderabad,Punjab Kings,Sunrisers Hyderabad,bat,157,125,...,160,95,6,5,15,9,1.684211,32.000000,19.000000,1.684211
942,2022,1312197,"Eden Gardens, Kolkata",Qualifier 1,Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,188,127,...,191,125,13,3,19,6,1.528000,63.666667,41.666667,1.528000
943,2022,1312198,"Eden Gardens, Kolkata",Eliminator,Royal Challengers Bangalore,Royal Challengers Bangalore,Lucknow Super Giants,field,207,126,...,193,130,22,6,6,14,1.484615,32.166667,21.666667,1.484615
944,2022,1312199,"Narendra Modi Stadium, Ahmedabad",Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,157,127,...,161,109,0,3,12,10,1.477064,53.666667,36.333333,1.477064
945,2022,1312200,"Narendra Modi Stadium, Ahmedabad",Final,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,130,120,...,133,113,9,3,10,4,1.176991,44.333333,37.666667,1.176991

In [40]:
total_df.columns

Index(['Season', 'ID', 'Venue', 'MatchNumber', 'Team1', 'WinningTeam',
       'TossWinner', 'TossDecision', 'T1Total', 'T1Balls_Faced', 'T1Extra',
       'T1Wickets', 'T14s', 'T16s', 'T1_Strike_Rate', 'T1_Avg', 'T2_BSR',
       'T2_Eco', 'Team2', 'T2Total', 'T2Balls_Faced', 'T2Extra', 'T2Wickets',
       'T24s', 'T26s', 'T2_Strike_Rate', 'T2_Avg', 'T1_BSR', 'T1_Eco'],
      dtype='object')

In [41]:
total_df[['T2_BSR','T2_Eco','T1_BSR','T1_Eco']] = total_df[['T2_BSR','T2_Eco','T1_BSR','T1_Eco']].replace(np.inf,0)

In [42]:
total_df.loc[total_df["T1_Avg"]==np.inf,"T1_Avg"] = total_df.loc[np.isinf(total_df["T1_Avg"]), "T1Total"]

In [43]:
total_df.loc[total_df["T2_Avg"]==np.inf,"T2_Avg"] = total_df.loc[np.isinf(total_df["T2_Avg"]), "T2Total"]

In [44]:
total_df.to_csv("./Dataset/IPL2008-2022.csv",index=False)

In [45]:
all_season["2008_Rajasthan Royals"].values

array(['RA Jadeja', 'Kamran Akmal', 'SA Asnodkar', 'SR Watson',
       'DS Lehmann', 'AD Mascarenhas', 'Pankaj Singh', 'Sohail Tanvir',
       'SK Warne', 'M Kaif', 'GC Smith', 'D Salunkhe', 'M Rawat',
       'T Kohli', 'YK Pathan', 'MM Patel', 'SK Trivedi', 'Younis Khan',
       'NK Patel', None, None, None, None, None, None, None], dtype=object)

In [46]:
sr_arr1 = {}
sr_arr2 = {}
bsr_arr1 = {}
bsr_arr2 = {}
arr = total_df[total_df["Season"]<=2022][["Season","Venue","Team1","Team2","TossWinner","TossDecision","MatchNumber"]].values
for i in arr:
    
    a = i.ravel()
    seas_no = str(a[0])+"_"+str(a[6])
    Team1 = str(a[0])+"_"+a[2]
    Team2 = str(a[0])+"_"+a[3]
    stadium = a[1]
    TossWinner = a[4]
    Decision = a[5]
    sea_df =  bats_df[(bats_df["Season"]<=a[0])&(bats_df["Venue"]==stadium)]
    sea_df1 =  bowl_df[(bowl_df["Season"]<=a[0])&(bowl_df["Venue"]==stadium)]
    if(((a[2]==TossWinner) and (Decision=="bat")) or ((a[3]==TossWinner)and(Decision=="field")) ):
        # print("Loop1")
        # print(a[0],a[1],a[2],a[3],a[4],a[5])
        sr_arr1[seas_no]= sea_df[sea_df["batter"].isin(all_season[Team1])]["Strike_Rate"].sum()
        bsr_arr1[seas_no]= sea_df1[sea_df1["bowler"].isin(all_season[Team2])]["StrikeRate"].sum()
        sr_arr2[seas_no]= sea_df[sea_df["batter"].isin(all_season[Team2])]["Strike_Rate"].sum()
        bsr_arr2[seas_no]= sea_df1[sea_df1["bowler"].isin(all_season[Team1])]["StrikeRate"].sum()
    elif(((a[3]==TossWinner)and(Decision=="bat"))or((a[2]==TossWinner)and(Decision=="field"))):
        # print("Loop2")
        # print(a[0],a[1],a[2],a[3],a[4],a[5])
        sr_arr1[seas_no]= sea_df[sea_df["batter"].isin(all_season[Team2])]["Strike_Rate"].sum()
        bsr_arr1[seas_no]= sea_df1[sea_df1["bowler"].isin(all_season[Team1])]["StrikeRate"].sum()
        sr_arr2[seas_no]= sea_df[sea_df["batter"].isin(all_season[Team1])]["Strike_Rate"].sum()
        bsr_arr2[seas_no]= sea_df1[sea_df1["bowler"].isin(all_season[Team2])]["StrikeRate"].sum()

In [47]:
new_df = pd.DataFrame()
new_df["season_No"] =sr_arr1.keys()